<div class="header" id="home">
    <div class="logo">
        <a href="#">
            <img src="../../../assets/images/logo.png">
        </a>
    </div>

    <nav class="nav-menu">
        <a href="/">Home</a>
        <a href="#servicos">Serviços</a>
        <a href="#sobre">Sobre</a>
        <a href="#contato">Contato</a>
    </nav>

    <div class="header-button">
        <a href="#contato">Contato</a>
    </div>


</div>

<section class="section-hero" >
    <div class="headline">
        <h2>Projetos de software sob medida
            
        </h2>
        <p>Somos uma fábrica de software que vai além da entrega de funcionalidades. 
            Estamos comprometidos com o impacto positivo dos projetos digitais que desenvolvemos.</p>
            
        <a href="#contato">Entre em contato</a>
    </div>
    
</section>
