<div class="body-tecnologia">
    <h2>Tecnologias que Utilizamos</h2>
    <div class="descricao"><span>Na Seet utilizamos as tecnologias da melhor forma possível para as suas aplicações, entendemos que cada software possui características únicas.
        Essas são as tecnologias que o nosso time possui expertise.</span></div>
        <main class="card">
            <section>
                <div><img src="../../../assets/images/flutter.png"></div>
                <div><img src="../../../assets/images/java.png"></div>
                <div><img src="../../../assets/images/node.png"></div>
                <div><img src="../../../assets/images/reactnative.png"></div>
                <div><img src="../../../assets/images/angular.png"></div>
                <div><img src="../../../assets/images/react.png"></div>
            </section>
        </main>
</div>
