<main class="card" id="servicos">
    <section class="card">

        <img src="../../../assets/images/code.png">
        <h3>Desenvolvimento</h3>
        <span>Desenvolvimento de software 100% personalizado. E-commerce, Blogs, App Nativos.</span>

    </section>

    <section class="card">

        <img src="../../../assets/images/time.png">
        <h3>Comprometimento com Entrega</h3>
        <span>A equipe certa para realizar o seu trabalho com pontualidade e qualidade.</span>

    </section>

    <section class="card">

        <img src="../../../assets/images/quality.png">
        <h3>Qualidade nos Projetos</h3>
        <span>O nosso time de profissionais trabalham em um projeto de cada vez, 100% focados.</span>

    </section>
</main>